/* Padding */
.no-p { padding: 0px; }
.p-10 { padding: 10px; }
.p-15 { padding: 15px; }
.p-t-15 { padding-top: 15px; }
.p-b-15 { padding-bottom: 15px; }

/* Text Center */
.text-center { text-align:center; }