<form ng-submit="ctrl.updateCustomer()" name="projectForm">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Informações Principais</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div class="row">
        <div class="col-md-4">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Tipo</label>
            <md-select ng-disabled="!ctrl.model.isEditMode" required ng-model="ctrl.model.customer.type">
              <md-option ng-repeat="option in ctrl.typeComboOptions" value="{{option.value}}">
                {{option.name}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <md-input-container class="md-block">
            <label>Número</label>
            <input required ng-disabled="!ctrl.model.isEditMode" type="number" name="customerNumber" ng-model="ctrl.model.customer.number" />
            <div ng-messages="projectForm.customerNumber.$error">
              <div ng-message="required">Campo obrigatório</div>
            </div>
          </md-input-container>
        </div>
        <div class="col-md-2">
          <md-input-container class="md-block">
            <label>N° Alterdata</label>
            <input ng-disabled="!ctrl.model.isEditMode" type="number" name="customerAlterNumber" ng-model="ctrl.model.customer.alterNumber" />
          </md-input-container>
        </div>
        <div class="col-md-4">
          <md-input-container class="md-block">
            <label>Início dos Serviços</label>
            <md-datepicker ng-disabled="!ctrl.model.isEditMode" ng-model="ctrl.model.startServiceDate" md-current-view="year"
                md-placeholder="Escolha a data" md-open-on-focus></md-datepicker>
          </md-input-container>
        </div>
        <div class="col-md-4">
          <md-input-container class="md-block">
            <label>Início das Atividades</label>
            <md-datepicker ng-disabled="!ctrl.model.isEditMode" ng-model="ctrl.model.startActivityDate" md-current-view="year"
                md-placeholder="Escolha a data" md-open-on-focus></md-datepicker>
          </md-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <md-input-container class="md-block">
            <label>Nome Fantasia</label>
            <input ng-disabled="!ctrl.model.isEditMode" required name="companyName" ng-model="ctrl.model.customer.companyName" />
            <div ng-messages="projectForm.companyName.$error">
              <div ng-message="required">Campo obrigatório</div>
            </div>
          </md-input-container>
        </div>
        <div class="col-md-4">
          <md-input-container class="md-block">
            <label>CNPJ</label>
            <input ng-disabled="!ctrl.model.isEditMode" required name="cnpj" ng-model="ctrl.model.customer.cnpj" ui-mask="99.999.999/9999-99" />
            <div ng-messages="projectForm.cnpj.$error" role="alert">
              <div ng-message="required">Campo obrigatório</div>
            </div>
          </md-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <md-input-container class="md-block">
            <label>Razão Social</label>
            <input ng-disabled="!ctrl.model.isEditMode" required name="customerName" ng-model="ctrl.model.customer.name" />
            <div ng-messages="projectForm.customerName.$error">
              <div ng-message="required">Campo obrigatório</div>
            </div>
          </md-input-container>
        </div>
        <div class="col-md-4">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Estado de Atividade</label>
            <md-select ng-disabled="!ctrl.model.isEditMode" required ng-model="ctrl.model.customer.status">
              <md-option ng-repeat="option in ctrl.statusComboOptions" value="{{option.value}}">
                {{option.name}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <md-input-container class="md-block">
            <label>Insc. Estadual</label>
            <input ng-disabled="!ctrl.model.isEditMode" name="stateRegist" ng-model="ctrl.model.customer.stateRegist" />
          </md-input-container>
        </div>
        <div class="col-md-3">
          <md-input-container class="md-block">
            <label>Insc. Municipal</label>
            <input ng-disabled="!ctrl.model.isEditMode" name="municipalRegist" ng-model="ctrl.model.customer.municipalRegist" />
          </md-input-container>
        </div>
        <div class="col-md-3">
          <md-input-container class="md-block">
            <label>Capital Social</label>
            <input ng-disabled="!ctrl.model.isEditMode" name="shareCapital" ng-model="ctrl.model.customer.shareCapital" />
          </md-input-container>
        </div>
      </div>
    </md-card-content>
  </md-card>

  <ng-include src="'views/customer/commons/editAddressFields.html'"></ng-include>

  <ng-include src="'views/customer/commons/editContactsFields.html'"></ng-include>

  <ng-include src="'views/customer/commons/editpartnersFields.html'"></ng-include>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Outros</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div class="row no-m">
        <div class="col-md-6 no-p">
          <div class="row">
            <div class="col-md-6">
              <md-input-container class="md-block">
                <label>CAE</label>
                <input ng-disabled="!ctrl.model.isEditMode" name="cae" ng-model="ctrl.model.customer.cae" />
                <md-tooltip>{{ctrl.model.customer.cae}}</md-tooltip>
              </md-input-container>
            </div>
            <div class="col-md-6">
              <md-input-container class="md-block">
                <label>NIRC</label>
                <input ng-disabled="!ctrl.model.isEditMode" name="nirc" ng-model="ctrl.model.customer.nirc" />
                <md-tooltip>{{ctrl.model.customer.nirc}}</md-tooltip>
              </md-input-container>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <md-input-container class="md-block">
                <label>Código GPS</label>
                <input ng-disabled="!ctrl.model.isEditMode" name="gpsCode" ng-model="ctrl.model.customer.gpsCode" />
              </md-input-container>
            </div>
            <div class="col-md-6">
              <md-input-container class="md-block">
                <label>Gerência</label>
                <input ng-disabled="!ctrl.model.isEditMode" name="management" ng-model="ctrl.model.customer.management" />
                <md-tooltip>{{ctrl.model.customer.management}}</md-tooltip>
              </md-input-container>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <md-input-container class="md-block">
            <label>Observações</label>
            <textarea ng-disabled="!ctrl.model.isEditMode" ng-model="ctrl.model.customer.obs" md-maxlength="500" rows="5" md-select-on-focus></textarea>
          </md-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <md-input-container class="md-block">
            <label>CNAE</label>
            <input ng-disabled="!ctrl.model.isEditMode" name="cnae" ng-model="ctrl.model.customer.cnae" />
          </md-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <md-input-container class="md-block">
            <label>CNAE Secundário</label>
            <input ng-disabled="!ctrl.model.isEditMode" name="cnae2" ng-model="ctrl.model.customer.cnae2" />
          </md-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <md-input-container class="md-block">
            <label>Cartórios</label>
            <input ng-disabled="!ctrl.model.isEditMode" name="registryOffice" ng-model="ctrl.model.customer.registryOffice" />
          </md-input-container>
        </div>
      </div>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Sindicato Patronal</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div class="row">
        <div class="col-md-6">
          <md-input-container class="md-block">
            <label>Nome</label>
            <input ng-disabled="!ctrl.model.isEditMode" name="syndicateName" ng-model="ctrl.model.customer.syndicateName" />
          </md-input-container>
        </div>
        <div class="col-md-6">
          <md-input-container class="md-block">
            <label>Código Sindical</label>
            <input ng-disabled="!ctrl.model.isEditMode" name="syndicateCode" ng-model="ctrl.model.customer.syndicateCode" />
          </md-input-container>
        </div>
      </div>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Obrigações Acessórias</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div class="row">
        <div class="col-md-3" ng-repeat="ao in ctrl.accessoryObligations['customer.type.pj.sn']">
          <md-input-container class="md-block">
            <md-checkbox ng-disabled="!ctrl.model.isEditMode" name="teste" ng-model="ctrl.model.accessoryObligations[$index].name" ng-true-value="'{{ao}}'" ng-false-value="'unchecked'">
              {{ao}}
            </md-checkbox>
          </md-input-container>
        </div>
      </div>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-content>
      <div class="row">
        <div class="col-md-offset-10 col-md-2" ng-if="!ctrl.model.isEditMode">
          <md-button ng-click="ctrl.edit()" class="md-raised md-primary">
            <i class="glyphicon glyphicon-pencil p-r-5" />Editar
          </md-button>
        </div>
        <div class="col-md-offset-8 col-md-2" ng-if="ctrl.model.isEditMode">
          <md-button ng-click="ctrl.cancel()" class="md-raised md-warn">
            <i class="glyphicon glyphicon-remove p-r-5" />Cancelar
          </md-button>
        </div>
        <div class="col-md-2" ng-if="ctrl.model.isEditMode">
          <md-button type="submit" class="md-raised md-primary">
            <i class="glyphicon glyphicon-floppy-disk p-r-5" />Salvar
          </md-button>
        </div>
      </div>
    </md-card-content>
  </md-card>

</form>
