<div class="row p-t-15 p-r-15">
  <div class="alert alert-danger" role="alert" ng-repeat="alert in ctrl.alerts | filter: {type: 'danger'}">
    <button type="button" class="close" ng-click="ctrl.closeAlert(alert)" aria-label="Fechar">
      <span aria-hidden="true">&times;</span>
    </button>
    {{alert.message}}
  </div>
  <div class="alert alert-warning" role="alert" ng-repeat="alert in ctrl.alerts | filter: {type: 'warning'}">
    <button type="button" class="close" ng-click="ctrl.closeAlert(alert)" aria-label="Fechar">
      <span aria-hidden="true">&times;</span>
    </button>
    {{alert.message}}
  </div>
  <div class="alert alert-success" role="alert" ng-repeat="alert in ctrl.alerts | filter: {type: 'success'}">
    <button type="button" class="close" ng-click="ctrl.closeAlert(alert)" aria-label="Fechar">
      <span aria-hidden="true">&times;</span>
    </button>
    {{alert.message}}
  </div>
</div>
