<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Endereço</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <div class="row">
      <div class="col-md-5">
        <md-input-container class="md-block">
          <label>Logradouro</label>
          <input required uppercase name="customerAddress" ng-model="ctrl.model.customer.address" />
          <div ng-messages="projectForm.customerAddress.$error">
            <div ng-message="required">Campo obrigatório</div>
          </div>
        </md-input-container>
      </div>
      <div class="col-md-2">
        <md-input-container class="md-block">
          <label>Número</label>
          <input required uppercase name="customerAddressNumber" ng-model="ctrl.model.customer.addressNumber" />
          <div ng-messages="projectForm.customerAddressNumber.$error">
            <div ng-message="required">Campo obrigatório</div>
          </div>
        </md-input-container>
      </div>
      <div class="col-md-2">
        <md-input-container class="md-block">
          <label>Complemento</label>
          <input uppercase name="customerAddressComp" ng-model="ctrl.model.customer.addressComp" />
        </md-input-container>
      </div>
      <div class="col-md-3">
        <md-input-container class="md-block">
          <label>Bairro</label>
          <input uppercase required name="customerDistrict" ng-model="ctrl.model.customer.district" />
          <div ng-messages="projectForm.customerDistrict.$error">
            <div ng-message="required">Campo obrigatório</div>
          </div>
        </md-input-container>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <md-input-container class="md-block">
          <label>Cidade</label>
          <input uppercase required name="customerCity" ng-model="ctrl.model.customer.city" />
          <div ng-messages="projectForm.customerCity.$error">
            <div ng-message="required">Campo obrigatório</div>
          </div>
        </md-input-container>
      </div>
      <div class="col-md-4">
        <md-input-container class="md-block">
          <label>Estado</label>
          <input uppercase required name="customerState" ng-model="ctrl.model.customer.state" />
          <div ng-messages="projectForm.customerState.$error">
            <div ng-message="required">Campo obrigatório</div>
          </div>
        </md-input-container>
      </div>
      <div class="col-md-3">
        <md-input-container class="md-block">
          <label>CEP</label>
          <input required name="cep" ng-model="ctrl.model.customer.cep" ui-mask="99999-999" />
          <div ng-messages="projectForm.cep.$error" role="alert">
            <div ng-message="required">Campo obrigatório</div>
          </div>
        </md-input-container>
      </div>
    </div>
  </md-card-content>
</md-card>
