<div class="col-md-10">
	<p>{{ :: "views.main.calendario" | translate}} {{calendario.teste}}</p>

	<br />

	<div class="calendar">
		<div class="row row-centered week">
			<div class="col-md-1 col-centered day">
				<span class="day-number">1</span>
			</div>
			<div class="col-md-1 col-centered day">
				<span class="day-number">2</span>
			</div>
			<div class="col-md-1 col-centered day">
				<span class="day-number">3</span>
			</div>
			<div class="col-md-1 col-centered day">
				<span class="day-number">4</span>
			</div>
			<div class="col-md-1 col-centered day">
				<span class="day-number">5</span>
			</div>
			<div class="col-md-1 col-centered day">
				<span class="day-number">6</span>
			</div>
			<div class="col-md-1 col-centered day">
				<span class="day-number">7</span>
			</div>
		</div>
		
		<div class="row row-centered week">
			<div class="col-md-1 col-centered day">
				<span class="day-number">1</span>
			</div>
			<div class="col-md-1 col-centered day">
				<span class="day-number">2</span>
			</div>
			<div class="col-md-1 col-centered day">
				<span class="day-number">3</span>
			</div>
			<div class="col-md-1 col-centered day">
				<span class="day-number">4</span>
			</div>
			<div class="col-md-1 col-centered day">
				<span class="day-number">5</span>
			</div>
			<div class="col-md-1 col-centered day">
				<span class="day-number">6</span>
			</div>
			<div class="col-md-1 col-centered day">
				<span class="day-number">7</span>
			</div>
		</div>
	</div>

	<br />
</div>