<div class="container p-b-15">

	<div class="row text-center">
	</div>

	<div class="row p-15">
		<div class="p-t-15 btn-group col-md-4">
			<button class="btn btn-primary ng-isolate-scope" mwl-date-modifier
				date="ctrl.model.dataViewCalendario" decrement="ctrl.model.viewCalendario">
				{{ :: "views.calendario.anterior" | translate}}
			</button>
			
			<button class="btn btn-default ng-isolate-scope" mwl-date-modifier
				date="ctrl.model.dataViewCalendario" set-to-today>
				{{ :: "views.calendario.hoje" | translate}}
			</button>
			
			<button class="btn btn-primary ng-isolate-scope" mwl-date-modifier
				date="ctrl.model.dataViewCalendario" increment="ctrl.model.viewCalendario">
				{{ :: "views.calendario.proximo" | translate}}
			</button>
		</div>
		
		<div class="col-md-4 text-center">
			<h3><strong>{{ctrl.model.tituloCalendario}}</strong></h3>
		</div>
		
		<div class="p-t-15 btn-group col-md-offset-2 col-md-2">
	        <label class="btn btn-primary ng-pristine ng-untouched ng-valid ng-not-empty"
	        	ng-click="ctrl.mudarViewAno()"
	        	ng-class="{'active': ctrl.model.viewCalendario === 'year'}">
	        	{{ :: "views.calendario.ano" | translate}}
	        </label>
	        <label class="btn btn-primary ng-pristine ng-untouched ng-valid ng-not-empty"
	        	ng-click="ctrl.mudarViewMes()"
	        	ng-class="{'active': ctrl.model.viewCalendario === 'month'}">
	        	{{ :: "views.calendario.mes" | translate}}
        	</label>
     	</div>
	</div>
	
	<mwl-calendar
	    view="ctrl.model.viewCalendario"
	    view-date="ctrl.model.dataViewCalendario"
	    events="ctrl.model.eventos"
	    view-title="ctrl.model.tituloCalendario"
	    on-view-change-click=false>
	<!--     on-event-click="eventClicked(calendarEvent)" -->
	<!--     on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd" -->
	<!--     edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'" -->
	<!--     delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'" -->
	<!--     on-edit-event-click="eventEdited(calendarEvent)" -->
	<!--     on-delete-event-click="eventDeleted(calendarEvent)" -->
	<!--     cell-is-open="true" -->
	<!--     > -->
	</mwl-calendar>
	
</div>
