<div class="container">

	<div class="row text-center">
	</div>

	<div class="row p-10">
		<div class="btn-group col-md-4">
			<button class="btn btn-primary ng-isolate-scope" mwl-date-modifier
				date="ctrl.model.dataViewCalendario" decrement="ctrl.model.viewCalendario">
				{{ :: "views.calendario.anterior" | translate}}
			</button>
			
			<button class="btn btn-default ng-isolate-scope" mwl-date-modifier
				date="ctrl.model.dataViewCalendario" set-to-today>
				{{ :: "views.calendario.hoje" | translate}}
			</button>
			
			<button class="btn btn-primary ng-isolate-scope" mwl-date-modifier
				date="ctrl.model.dataViewCalendario" increment="ctrl.model.viewCalendario">
				{{ :: "views.calendario.proximo" | translate}}
			</button>
		</div>
		
		<div class="col-md-4 text-center">
			<h3><strong>{{ctrl.model.tituloCalendario}}</strong></h3>
		</div>
		
		Fazer aqui
<!-- 		<div class="btn-group col-md-4"> -->
<!-- 	        <label class="btn btn-primary ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="ctrl.model.viewCalendario" uib-btn-radio="'year'" style="">Year</label> -->
<!-- 	        <label class="btn btn-primary ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="ctrl.model.viewCalendario" uib-btn-radio="'month'">Month</label> -->
<!--      	</div> -->
	</div>
	
	<mwl-calendar
	    view="ctrl.model.viewCalendario"
	    view-date="ctrl.model.dataViewCalendario"
	    events="ctrl.model.eventos"
	    view-title="ctrl.model.tituloCalendario"
	    on-view-change-click=false>
	<!--     on-event-click="eventClicked(calendarEvent)" -->
	<!--     on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd" -->
	<!--     edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'" -->
	<!--     delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'" -->
	<!--     on-edit-event-click="eventEdited(calendarEvent)" -->
	<!--     on-delete-event-click="eventDeleted(calendarEvent)" -->
	<!--     cell-is-open="true" -->
	<!--     > -->
	</mwl-calendar>
</div>

<div class="col-md-10">
	<p>{{ :: "views.main.calendario" | translate}} {{ctrl.teste}}</p>

	<br />
	
	<div class="calendar">
		<div class="row row-centered week" ng-repeat="semana in ctrl.model.calendario.semanas">
			<div class="col-md-1 col-centered day" ng-repeat="dia in semana">
				<span class="day-number">1</span>
			</div>
<!-- 			<div class="col-md-1 col-centered day"> -->
<!-- 				<span class="day-number">1</span> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-1 col-centered day"> -->
<!-- 				<span class="day-number">2</span> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-1 col-centered day"> -->
<!-- 				<span class="day-number">3</span> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-1 col-centered day"> -->
<!-- 				<span class="day-number">4</span> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-1 col-centered day"> -->
<!-- 				<span class="day-number">5</span> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-1 col-centered day"> -->
<!-- 				<span class="day-number">6</span> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-1 col-centered day"> -->
<!-- 				<span class="day-number">7</span> -->
<!-- 			</div> -->
		</div>
	</div>
	
	
<!-- 	<div class="calendar"> -->
<!-- 		<div class="row row-centered week"> -->
<!-- 			<div class="col-md-1 col-centered day"> -->
<!-- 				<span class="day-number">1</span> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-1 col-centered day"> -->
<!-- 				<span class="day-number">2</span> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-1 col-centered day"> -->
<!-- 				<span class="day-number">3</span> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-1 col-centered day"> -->
<!-- 				<span class="day-number">4</span> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-1 col-centered day"> -->
<!-- 				<span class="day-number">5</span> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-1 col-centered day"> -->
<!-- 				<span class="day-number">6</span> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-1 col-centered day"> -->
<!-- 				<span class="day-number">7</span> -->
<!-- 			</div> -->
<!-- 		</div> -->
		
<!-- 		<div class="row row-centered week"> -->
<!-- 			<div class="col-md-1 col-centered day"> -->
<!-- 				<span class="day-number">1</span> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-1 col-centered day"> -->
<!-- 				<span class="day-number">2</span> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-1 col-centered day"> -->
<!-- 				<span class="day-number">3</span> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-1 col-centered day"> -->
<!-- 				<span class="day-number">4</span> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-1 col-centered day"> -->
<!-- 				<span class="day-number">5</span> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-1 col-centered day"> -->
<!-- 				<span class="day-number">6</span> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-1 col-centered day"> -->
<!-- 				<span class="day-number">7</span> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->

	<br />
</div>