<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="row p-t-15 p-r-15">
      <div class="alert alert-danger" role="alert" ng-repeat="alert in ctrl.alerts | filter: {type: 'danger'}">
        <button type="button" class="close" ng-click="ctrl.closeAlert(alert)" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
        {{alert.message}}
      </div>
      <div class="alert alert-warning" role="alert" ng-repeat="alert in ctrl.alerts | filter: {type: 'warning'}">
        <button type="button" class="close" ng-click="ctrl.closeAlert(alert)" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
        {{alert.message}}
      </div>
      <div class="alert alert-success" role="alert" ng-repeat="alert in ctrl.alerts | filter: {type: 'success'}">
        <button type="button" class="close" ng-click="ctrl.closeAlert(alert)" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
        {{alert.message}}
      </div>
    </div>
  </div>

  <div class="col-md-offset-4 col-md-4">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <md-content layout-padding>
          <md-card>
            <form ng-submit="ctrl.logIn()">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Login</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <md-input-container class="md-block">
                  <label>Usuário</label>
                  <input required md-no-asterisk name="user" ng-model="ctrl.model.user.username">
                  <div ng-messages="projectForm.description.$error">
                    <div ng-message="required">Campo obrigatório</div>
                  </div>
                </md-input-container>

                <md-input-container class="md-block">
                  <label>Senha</label>
                  <input type="password" required md-no-asterisk name="password" ng-model="ctrl.model.user.password">
                  <div ng-messages="projectForm.description.$error">
                    <div ng-message="required">Campo obrigatório</div>
                  </div>
                </md-input-container>

                <div>
                  <md-button type="submit" class="md-raised md-primary"
                      ng-disabled="!ctrl.isRequiredFieldsFilled()">
                    Entrar
                  </md-button>
                  <md-button ng-click="ctrl.clearFields()" class="md-raised md-button">
                    Limpar
                  </md-button>
                </div>
              </md-card-content>
            </form>
          </md-card>
        </md-content>
      </div>
    </div>
  </div>
</div>
