<div id="create-customer">
  <h3>{{ :: "customer.type.cond" | translate}}</h3>

  <div class="row">
    <div id="alerts" class="col-md-offset-1 col-md-10">
      <ng-include src="'views/commons/alert.html'"></ng-include>
    </div>
  </div>

  <form ng-submit="ctrl.createCustomer()" name="projectForm">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Informações Principais</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div class="row">
          <div class="col-md-2">
            <md-input-container class="md-block">
              <label>Número</label>
              <input required type="number" name="customerNumber" ng-model="ctrl.model.customer.number" />
              <div ng-messages="projectForm.customerNumber.$error">
                <div ng-message="required">Campo obrigatório</div>
              </div>
            </md-input-container>
          </div>
          <div class="col-md-2">
            <md-input-container class="md-block">
              <label>N° Alterdata</label>
              <input type="number" name="customerAlterNumber" ng-model="ctrl.model.customer.alterNumber" />
            </md-input-container>
          </div>
          <div class="col-md-4">
            <md-input-container class="md-block">
              <label>Início dos Serviços</label>
              <md-datepicker name="startServiceDate" ng-model="ctrl.model.startServiceDate" md-current-view="year"
                  md-placeholder="Escolha a data" md-open-on-focus></md-datepicker>
            </md-input-container>
          </div>
          <div class="col-md-4">
            <md-input-container class="md-block">
              <label>Início das Atividades</label>
              <md-datepicker name="startActivityDate" ng-model="ctrl.model.startActivityDate" md-current-view="year"
                  md-placeholder="Escolha a data" md-open-on-focus></md-datepicker>
            </md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <md-input-container class="md-block">
              <label>Razão Social</label>
              <input required name="customerName" ng-model="ctrl.model.customer.name" />
              <div ng-messages="projectForm.customerName.$error">
                <div ng-message="required">Campo obrigatório</div>
              </div>
            </md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <md-input-container class="md-block">
              <label>CNPJ</label>
              <input required name="cnpj" ng-model="ctrl.model.customer.cnpj" ui-mask="99.999.999/9999-99" />
              <div ng-messages="projectForm.cnpj.$error" role="alert">
                <div ng-message="required">Campo obrigatório</div>
              </div>
            </md-input-container>
          </div>
          <div class="col-md-3">
            <md-input-container class="md-block">
              <label>Insc. Estadual</label>
              <input name="stateRegist" ng-model="ctrl.model.customer.stateRegist" />
            </md-input-container>
          </div>
          <div class="col-md-3">
            <md-input-container class="md-block">
              <label>Insc. Municipal</label>
              <input name="municipalRegist" ng-model="ctrl.model.customer.municipalRegist" />
            </md-input-container>
          </div>
        </div>
      </md-card-content>
    </md-card>

    <ng-include src="'views/customer/commons/addressFields.html'"></ng-include>

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Síndicos</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div class="row">
          <div class="col-md-4">
            <md-button class="md-primary" ng-click="ctrl.addSyndic()">
              <i class="glyphicon glyphicon-plus p-r-5" />Adicionar Síndico
            </md-button>
          </div>
        </div>
        <div ng-repeat="syndic in ctrl.model.customer.syndics">
          <div class="row">
            <div class="col-md-6">
              <md-input-container class="md-block" ng-if="$index === 0">
                <label>Nome do Síndico</label>
                <input required name="syndicName{{$index}}" ng-model="ctrl.model.customer.syndics[$index].name" />
                <div ng-messages="projectForm['syndicName' + $index].$error">
                  <div ng-message="required">Campo obrigatório</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" ng-if="$index !== 0">
                <label>Nome do Síndico</label>
                <input name="syndicName{{$index}}" ng-model="ctrl.model.customer.syndics[$index].name" />
              </md-input-container>
            </div>
            <div class="col-md-6">
              <md-input-container class="md-block" ng-if="$index === 0">
                <label>E-mail</label>
                <input required name="syndicEmail{{$index}}" ng-model="ctrl.model.customer.syndics[$index].email" />
                <div ng-messages="projectForm['syndicEmail' + $index].$error">
                  <div ng-message="required">Campo obrigatório</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" ng-if="$index !== 0">
                <label>E-mail</label>
                <input name="syndicEmail{{$index}}" ng-model="ctrl.model.customer.syndics[$index].email" />
              </md-input-container>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <md-input-container class="md-block" ng-if="$index === 0">
                <label>Telefone</label>
                <input required name="syndicTel{{$index}}" ng-model="ctrl.model.customer.syndics[$index].tel" />
                <div ng-messages="projectForm['syndicTel' + $index].$error">
                  <div ng-message="required">Campo obrigatório</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" ng-if="$index !== 0">
                <label>Telefone</label>
                <input name="syndicTel{{$index}}" ng-model="ctrl.model.customer.syndics[$index].tel" />
              </md-input-container>
            </div>
            <div class="col-md-2">
              <md-input-container class="md-block" ng-if="$index === 0">
                <label>Paríodo</label>
                <input required name="syndicPeriod{{$index}}" ng-model="ctrl.model.customer.syndics[$index].period" />
                <div ng-messages="projectForm['syndicPeriod' + $index].$error">
                  <div ng-message="required">Campo obrigatório</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" ng-if="$index !== 0">
                <label>Paríodo</label>
                <input name="syndicPeriod{{$index}}" ng-model="ctrl.model.customer.syndics[$index].period" />
              </md-input-container>
            </div>
            <div class="col-md-2">
              <md-input-container class="md-block" ng-if="$index === 0">
                <label>CPF</label>
                <input required name="syndicCpf{{$index}}" ng-model="ctrl.model.customer.syndics[$index].cpf" ui-mask="999.999.999-99" />
                <div ng-messages="projectForm['syndicCpf' + $index].$error">
                  <div ng-message="required">Campo obrigatório</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" ng-if="$index !== 0">
                <label>CPF</label>
                <input name="syndicCpf{{$index}}" ng-model="ctrl.model.customer.syndics[$index].cpf" ui-mask="999.999.999-99" />
              </md-input-container>
            </div>
            <div class="col-md-4">
              <md-input-container class="md-block" ng-if="$index === 0">
                <label>Identidade</label>
                <input required name="syndicIdentity{{$index}}" ng-model="ctrl.model.customer.syndics[$index].identity" />
                <div ng-messages="projectForm['syndicIdentity' + $index].$error">
                  <div ng-message="required">Campo obrigatório</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" ng-if="$index !== 0">
                <label>Identidade</label>
                <input name="syndicIdentity{{$index}}" ng-model="ctrl.model.customer.syndics[$index].identity" />
              </md-input-container>
            </div>
          </div>
          <div class="row" ng-if="$index !== 0">
            <div class="col-md-4">
              <md-button class="md-warn" ng-click="ctrl.removeSyndic($index)">
                <i class="glyphicon glyphicon-trash p-r-5" />Remover Síndico
              </md-button>
            </div>
          </div>
          <md-divider ng-if="!$last" style="border-top-width: 3px; border-top-style: dotted;"></md-divider>
        </div>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Outros</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div class="row no-m">
          <div class="col-md-6 no-p">
            <div class="row">
              <div class="col-md-6">
                <md-input-container class="md-block">
                  <label>CAE</label>
                  <input name="cae" ng-model="ctrl.model.customer.cae" />
                </md-input-container>
              </div>
              <div class="col-md-6">
                <md-input-container class="md-block">
                  <label>NIRC</label>
                  <input name="nirc" ng-model="ctrl.model.customer.nirc" />
                </md-input-container>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <md-input-container class="md-block">
                  <label>Código GPS</label>
                  <input name="gpsCode" ng-model="ctrl.model.customer.gpsCode" />
                </md-input-container>
              </div>
              <div class="col-md-6">
                <md-input-container class="md-block">
                  <label>Gerência</label>
                  <input name="management" ng-model="ctrl.model.customer.management" />
                </md-input-container>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <md-input-container class="md-block">
              <label>Observações</label>
              <textarea name="obs" ng-model="ctrl.model.customer.obs" md-maxlength="500" rows="5" md-select-on-focus></textarea>
            </md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <md-input-container class="md-block">
              <label>CNAE</label>
              <input name="cnae" ng-model="ctrl.model.customer.cnae" />
            </md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <md-input-container class="md-block">
              <label>Cartórios</label>
              <input name="registryOffice" ng-model="ctrl.model.customer.registryOffice" />
            </md-input-container>
          </div>
        </div>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Sindicato Patronal</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div class="row">
          <div class="col-md-6">
            <md-input-container class="md-block">
              <label>Nome</label>
              <input name="syndicateName" ng-model="ctrl.model.customer.syndicateName" />
            </md-input-container>
          </div>
          <div class="col-md-6">
            <md-input-container class="md-block">
              <label>Código Sindical</label>
              <input name="syndicateCode" ng-model="ctrl.model.customer.syndicateCode" />
            </md-input-container>
          </div>
        </div>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Obrigações Acessórias</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div class="row">
          <div class="col-md-3" ng-repeat="ao in ctrl.accessoryObligations.cond">
            <md-input-container class="md-block">
              <md-checkbox name="ao{{$index}}" ng-model="ctrl.model.accessoryObligations[$index].name" ng-true-value="'{{ao}}'" ng-false-value="'unchecked'">
                {{ao}}
              </md-checkbox>
            </md-input-container>
          </div>
        </div>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-content>
        <div class="row">
          <div class="col-md-offset-10 col-md-2">
            <md-button id="create-btn" type="submit" class="md-raised md-primary">
              Cadastrar
            </md-button>
          </div>
        </div>
      </md-card-content>
    </md-card>

  </form>
</div>
