<div id="create-customer">
  <div class="row p-t-15">
    <div class="col-md-offset-4 col-md-4">
      <md-slider-container ng-disabled="true">
        <md-slider ng-model="ctrl.model.createProgress" aria-label="Disabled 1" flex md-discrete ng-readonly="readonly"></md-slider>
      </md-slider-container>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Tipo</label>
        <md-select ng-model="ctrl.model.type" ng-change="ctrl.model.createProgress = 50">
          <md-option ng-repeat="option in ctrl.typeComboOptions" value="{{option}}">
            {{option}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
  </div>

  <div class="row" ng-if="ctrl.model.type === ctrl.typeComboOptions[0]">
    <div class="col-md-12">
      <div ng-if="ctrl.model.page === 1">

      </div>
    </div>
  </div>

  <div class="row" ng-if="ctrl.model.type === ctrl.typeComboOptions[1]">
    <div class="col-md-12">
      <div ng-if="ctrl.model.page === 1">
        <form ng-submit="ctrl.createCustomer()" name="projectForm">

          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Informações Principais</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <div class="row">
                <div class="col-md-2">
                  <md-input-container class="md-block">
                    <label>Número</label>
                    <input required type="number" name="customerNumber" ng-model="ctrl.model.customer.number" />
                    <div ng-messages="projectForm.customerNumber.$error">
                      <div ng-message="required">Campo obrigatório</div>
                    </div>
                  </md-input-container>
                </div>
                <div class="col-md-6">
                  <md-input-container class="md-block">
                    <label>Nome</label>
                    <input required name="customerName" ng-model="ctrl.model.customer.name" />
                    <div ng-messages="projectForm.customerName.$error">
                      <div ng-message="required">Campo obrigatório</div>
                    </div>
                  </md-input-container>
                </div>
                <div class="col-md-4">
                  <md-input-container class="md-block">
                    <label>CPF</label>
                    <input required name="cpf" ng-model="ctrl.model.customer.cpf" ui-mask="999.999.999-99" />
                    <div ng-messages="projectForm.cpf.$error" role="alert">
                      <div ng-message="required">Campo obrigatório</div>
                    </div>
                  </md-input-container>
                </div>
              </div>
            </md-card-content>
          </md-card>

          <ng-include src="'views/commons/addressFields.html'"></ng-include>

          <ng-include src="'views/commons/contactsFields.html'"></ng-include>

          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Outros</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <div class="row no-m">
                <div class="col-md-6 no-p">
                  <div class="row">
                    <div class="col-md-6">
                      <md-input-container class="md-block">
                        <label>CEI</label>
                        <input name="cei" ng-model="ctrl.model.customer.cei" />
                      </md-input-container>
                    </div>
                    <div class="col-md-6">
                      <md-input-container class="md-block">
                        <label>Código GPS</label>
                        <input name="gpsCode" ng-model="ctrl.model.customer.gpsCode" />
                      </md-input-container>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <md-input-container class="md-block">
                        <label>Código de Acesso</label>
                        <input name="accessCode" ng-model="ctrl.model.customer.accessCode" />
                      </md-input-container>
                    </div>
                    <div class="col-md-6">
                      <md-input-container class="md-block">
                        <label>Senha de Acesso</label>
                        <input name="accessPassword" ng-model="ctrl.model.customer.accessPassword" />
                      </md-input-container>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <md-input-container class="md-block">
                    <label>Observações</label>
                    <textarea ng-model="ctrl.model.customer.obs" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                  </md-input-container>
                </div>
              </div>
            </md-card-content>
          </md-card>

          <md-card>
            <md-card-content>
              <div class="row">
                <div class="col-md-offset-10 col-md-2">
                  <md-button type="submit" class="md-raised md-primary">
                    Cadastrar
                  </md-button>
                </div>
              </div>
            </md-card-content>
          </md-card>

        </form>
      </div>
    </div>
  </div>
</div>
