<div id="view-customers">
  <h3>{{ :: "customer.veiw.customers" | translate}}</h3>

  <mdt-table
      paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,50]}"
      table-card="{isEnabled: true, title: 'Clientes Ativos'}"
      mdt-translations="{rowsPerPage: 'Linhas por página'}">

      <mdt-header-row>
          <mdt-column align-rule="left" column-definition="Número do cliente">
              Número
          </mdt-column>

          <mdt-column align-rule="left" column-definition="Número do cliente no Alterdata">
              Número Alterdata
          </mdt-column>

          <mdt-column align-rule="left" column-definition="Nome do cliente">
              Nome
          </mdt-column>

          <mdt-column align-rule="left" column-definition="CPF ou CNPJ">
              CPF/CNPJ
          </mdt-column>

          <mdt-column align-rule="left" column-definition="Tipo do cliente">
              Tipo
          </mdt-column>
      </mdt-header-row>

      <mdt-row ng-repeat="customer in ctrl.model.customers">
          <mdt-cell>{{customer.number}}</mdt-cell>
          <mdt-cell>{{customer.alterNumber}}</mdt-cell>
          <mdt-cell>{{customer.name}}</mdt-cell>
          <mdt-cell>{{customer.cpf | cpf}}{{customer.cnpj | cnpj}}</mdt-cell>
          <mdt-cell>{{ctrl.model.translatedTypes[customer.type]}}</mdt-cell>
      </mdt-row>

  </mdt-table>
</div>
