<div id="view-customer">
  <h3>{{ :: "customer.details" | translate}}</h3>

  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <ng-include src="'views/commons/alert.html'"></ng-include>
    </div>
  </div>

  <form ng-submit="ctrl.updateCustomer()" name="projectForm">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Informações Principais</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div class="row">
          <div class="col-md-2">
            <md-input-container class="md-block">
              <label>Número</label>
              <input required disabled="!ctrl.model.isEditMode" type="number" name="customerNumber" ng-model="ctrl.model.customer.number" />
              <div ng-messages="projectForm.customerNumber.$error">
                <div ng-message="required">Campo obrigatório</div>
              </div>
            </md-input-container>
          </div>
          <div class="col-md-2">
            <md-input-container class="md-block">
              <label>N° Alterdata</label>
              <input disabled="!ctrl.model.isEditMode" type="number" name="customerAlterNumber" ng-model="ctrl.model.customer.alterNumber" />
            </md-input-container>
          </div>
          <div class="col-md-4">
            <md-input-container class="md-block">
              <label>Início dos Serviços</label>
              <md-datepicker disabled="!ctrl.model.isEditMode" ng-model="ctrl.model.startServiceDate" md-current-view="year"
                  md-placeholder="Escolha a data" md-open-on-focus></md-datepicker>
            </md-input-container>
          </div>
          <div class="col-md-4">
            <md-input-container class="md-block">
              <label>Início das Atividades</label>
              <md-datepicker disabled="!ctrl.model.isEditMode" ng-model="ctrl.model.startActivityDate" md-current-view="year"
                  md-placeholder="Escolha a data" md-open-on-focus></md-datepicker>
            </md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <md-input-container class="md-block">
              <label>Nome Fantasia</label>
              <input disabled="!ctrl.model.isEditMode" required name="companyName" ng-model="ctrl.model.customer.companyName" />
              <div ng-messages="projectForm.companyName.$error">
                <div ng-message="required">Campo obrigatório</div>
              </div>
            </md-input-container>
          </div>
          <div class="col-md-4">
            <md-input-container class="md-block">
              <label>CNPJ</label>
              <input disabled="!ctrl.model.isEditMode" required name="cnpj" ng-model="ctrl.model.customer.cnpj" ui-mask="99.999.999/9999-99" />
              <div ng-messages="projectForm.cnpj.$error" role="alert">
                <div ng-message="required">Campo obrigatório</div>
              </div>
            </md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <md-input-container class="md-block">
              <label>Razão Social</label>
              <input disabled="!ctrl.model.isEditMode" required name="customerName" ng-model="ctrl.model.customer.name" />
              <div ng-messages="projectForm.customerName.$error">
                <div ng-message="required">Campo obrigatório</div>
              </div>
            </md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <md-input-container class="md-block">
              <label>Insc. Estadual</label>
              <input disabled="!ctrl.model.isEditMode" name="stateRegist" ng-model="ctrl.model.customer.stateRegist" />
            </md-input-container>
          </div>
          <div class="col-md-3">
            <md-input-container class="md-block">
              <label>Insc. Municipal</label>
              <input disabled="!ctrl.model.isEditMode" name="municipalRegist" ng-model="ctrl.model.customer.municipalRegist" />
            </md-input-container>
          </div>
          <div class="col-md-3">
            <md-input-container class="md-block">
              <label>Capital Social</label>
              <input disabled="!ctrl.model.isEditMode" name="shareCapital" ng-model="ctrl.model.customer.shareCapital" />
            </md-input-container>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </form>
</div>
